#modal-content {
    width: 500px;
    color: #000;
    background: #fff;
    height: auto;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }



#modal-content h1 {
    text-align: center;
}

.profile-dropdown button {
    background: transparent;
     /* border: 2px solid red; */
    /* border-radius: 15px; */
    width: 100%;
    padding: 5px;
    color: white;
    border: none;
    font-size: large;
    font-family: 'Dancing Script', cursive;
    font-family: 'Raleway', sans-serif;
}

.profile-dropdown button:hover {
    transition: 0.3s;
    background: gray;
    color: rgb(255, 255, 255)
}
