#modal-content {
    width: 350px;
    color: white;
    background: linear-gradient(#216869, black);
    height: auto;
    position: absolute;
    border-radius: 20px;
    border: inset 10px #9CC5A1;
    padding: 30px;
}

#modal-content h1 {
    text-align: center;
}

.profile-dropdown button {
    background: transparent;
     /* border: 2px solid red; */
    /* border-radius: 15px; */
    width: 100%;
    padding: 5px;
    color: white;
    border: none;
    font-size: large;
    font-family: 'Dancing Script', cursive;
    font-family: 'Raleway', sans-serif;
}

.profile-dropdown button:hover {
    transition: 0.3s;
    background: gray;
    color: rgb(255, 255, 255)
}
