.splash-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

html,
body {
  overflow: hidden;
}

/* .splash-container:hover {
  background: linear-gradient(#216869, black);
} */

.splash-container-content {
  position: absolute;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.splash-container-content h1 {
  font-size: xxx-large
}

.splash-container img {
  width: 44%;
  height: 55%;
  border-radius: 230px;
  border-right: 15px solid #21686985;
  box-shadow: 17px 5px 5px #ffffff36;
}

#splash-page-buttons {
  flex-direction: row;
  gap: 8%;
  width: 20%;
  display: flex;
}

#splash-page-buttons button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 5%;
  border-radius: 5px;
}

#splash-page-buttons button:hover {
  background-image: linear-gradient(80deg, #21686985, #49A078);
}

#splash-page-h1 {
  font-family: 'Dancing Script', cursive;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
  width: 100%;
  padding-left: 2%;

}

#splash-top-bar-title-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  width: 90%;
}

#e-circle-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.886);
  background-image: linear-gradient(80deg, #21686985, #49A078);
}

#e-circle-logo i {
  font-family: 'Dancing Script', cursive;
  font-family: 'Raleway', sans-serif;
  font-size: x-large
}

.splash-top-bar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

#splash-page-h1-nav {
  font-family: 'Rampart One', cursive;
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

}

#thought-bubble {
  width: 120px;
  height: 100px;
  border: 2px solid red;
  border-radius: 50%;
  position: relative;
  right: 28vw;
  top: 8vw;
}

#thought-bubble-tail {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  border: 2px solid red;
  position: relative;
  right: 20vw;
  top: 10vw;
}

#thought-bubble-tail-one {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  border: 2px solid red;
  position: relative;
  right: 18vw;
  top: 18vh;
}

#splashpage-button {
  background: transparent;
  border: none;
}

#logo-and-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
  width: 27%;
}

#splash-page-content-buttons button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 49px;
  width: 160px;
  padding: 12px;
  font-size: large;
  border-radius: 5px;
}

#splash-page-content-buttons button:hover {
  background-image: linear-gradient(80deg, #21686985, #49A078);
  color: white;
  font-weight: 700;
}

#splash-page-content-buttons {
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#splash-about-me-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 5%;
}

.splash-container h3 {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#splash-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

#splash-about-me-links a {
  color: white;
  text-decoration: none;
  text-align: center;
}

#splash-about-me-links a:hover {
  color: #49A078
}

#account-already-made {
  border: none;
  background: none;
  color: white;
  font-size: medium;
  text-decoration: underline;
}

#account-already-made button {
  border: none;
  background: none;
  color: white;
  text-decoration: underline;
  font-size: medium;
}


#up {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, rgb(85, 85, 85), teal);
  filter: blur(40px);
  animation: up 20s infinite;
}

#down {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, teal, rgb(255, 255, 255));
  filter: blur(40px);
  animation: down 30s infinite;
}

#left {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, black, #49A078);
  filter: blur(40px);
  animation: left 40s infinite;
}

#right {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, #21686985, #49A078);
  filter: blur(40px);
  animation: right 50s infinite;
}

@keyframes down {

  0%,
  100% {
    top: 5%
  }

  70% {
    top: 45%
  }
}

@keyframes up {

  0%,
  100% {
    bottom: 5%
  }

  70% {
    bottom: 45%
  }
}

@keyframes left {

  0%,
  100% {
    left: 5%
  }

  70% {
    left: 45%
  }
}

@keyframes right {

  0%,
  100% {
    right: 5%
  }

  70% {
    right: 45%
  }
}
