.splash-container {
  margin-left: 15vw;
  width: 85vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(80deg, rgb(21, 118, 156), black);
  overflow: hidden;
}

/* .splash-container:hover {
  background: linear-gradient(#216869, black);
} */

.splash-container-content {
  position: absolute;
  display: fllex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-container img {
  width: 44%;
  height: 55%;
  border-radius: 230px;
  border-right: 15px solid #21686985;
  box-shadow: 17px 5px 5px #ffffff36;
}

#splash-page-h1 {
  font-family: 'Rampart One', cursive;
  font-size: xxx-large;
  width: 50%;
  text-align: center;
}

#thought-bubble {
  width: 120px;
  height: 100px;
  border: 2px solid red;
  border-radius: 50%;
  position: relative;
  right: 28vw;
  top: 8vw;
}

#thought-bubble-tail {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  border: 2px solid red;
  position: relative;
  right: 20vw;
  top: 10vw;
}

#thought-bubble-tail-one {
  width: 4px;
    height: 4px;
    border-radius: 100%;
    border: 2px solid red;
    position: relative;
    right: 18vw;
    top: 18vh;
}

#splashpage-button {
  background: transparent;
  border: none;
}

.splash-container h3 {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#splash-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}


#up {
  position: absolute;
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, rgb(85, 85, 85), teal);
  filter: blur(40px);
  animation: up 30s infinite;
}

#down {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, teal, rgb(255, 255, 255));
  filter: blur(40px);
  animation: down 40s infinite;
}

#left {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, black, #49A078);
  filter: blur(40px);
  animation: left 45s infinite;
}

#right {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, #21686985, #49A078);
  filter: blur(40px);
  animation: right 20s infinite;
}

@keyframes down {
  0%, 100%{
    top: -100px
  }
  70%{
    top: 700px
  }
}

@keyframes up {
  0%, 100%{
    bottom: -100px
  }
  70%{
    bottom: 700px
  }
}

@keyframes left {
  0%, 100%{
    left: 200px
  }
  70%{
    left: 700px
  }
}

@keyframes right {
  0%, 100%{
    right: 700px
  }
  70%{
    right: 200px
  }
}
