body {
    background-color: black;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-family: 'Raleway', sans-serif;
    opacity: .87;
    text-decoration-line: none;
}

#notes-additional-style-container {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: cenn;
    justify-content: center;
    border: 2px solid white;
    position: relative;
    right: 20px;
    top: 24px;
    background: black;
    padding-bottom: 30px;
}

#inner-notes-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notebook-notes-inner-container {
background-color: rgb(32, 32, 32);
}

.notebook-notes-inner-container:hover {
transition: 0.3s;
background-color: #216869;
}

.notebook-notes-inner-container-two {
background-color: rgb(32, 32, 32);
}

.notebook-notes-inner-container-two:hover {
transition: 0.3s;
background-color: #49A078;

}

#Notebooks-title {
    margin-left: 20vw;
    width: 70vw;
    display: flex;
    justify-content: center;
    padding: 20px;
}
