.create-note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    padding: 30px;
    gap: 15px;
}

.create-note-container h1 {
    text-align: center;
}

#button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#button-container label {
    display: flex;
    flex-direction: column;
}
