.task-list {
  background-color: #444;
  color: white;
  border: 1px solid #333;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}

.task-list ul {
  list-style: none;
  padding: 0;
}

.task-list li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

.task-list li:last-child {
  border-bottom: none;
}
