.task-list {
  background-color: #444;
  color: white;
  border: 1px solid #333;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}

.task-list ul {
  list-style: none;
  padding: 0;
}

.task-list li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

.task-list li:last-child {
  border-bottom: none;
}

#task-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4%;
}

#task-toggle-modal button {
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 9px;
}

#task-toggle-modal button:hover {
  transition: 0.3s;
  background: linear-gradient(#216869, #49A078);
}


#task-toggle-button {
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 9px;
}

#task-toggle-button:hover {
  transition: 0.3s;
  background: linear-gradient(#216869, #49A078);
}
