.universal-button {
    background: none;
    border: none;
    color: white;
    border: 2px solid #9CC5A1;
    height: 40px;
    width: 100%;
    border-radius: 20px;
}


.universal-button:hover {
    color: white;
    transition: 0.3s;
    background: #216869;
}

#input-field {
    width: 98%;
    height: 30px;
    border-radius: 20px;
}

#create-note-inner-container label {
    display: flex;
    flex-direction: column;

}

#create-note-inner-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    grid-gap: 21px;
    gap: 21px;
}
