.one_note {
    border: 2px solid gray;
    width: 100px;
    height: 175px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #216869;
    color: white;
    text-decoration: none;
    text-align: center;
}

.one_note:hover {
    transition: 0.3s;
    background: linear-gradient(#216869, #9CC5A1);
    border: 2px solid white

}
.notes-container {
    border: 5px solid gray;
    flex-direction: column;
    align-items: center;
    width: 72vw;
    height: 75vh;
    margin-left: 20vw;
    padding-bottom: 50px;
    position: fixed;
    gap: 20px;
    background: black;
    border-radius: 14px;
}

#intro-bar {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.notes-container h1 {
    width: 100%;
}

.note-card-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* justify-content: space-between; */
    overflow-x: scroll;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

#notes-content {
    display: flex;
    flex-direction: column;
    width: 86px;
    grid-gap: 85px;
    gap: 85px;
}

#notes-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

#notes-title-container i {
    color: #9CC5A1
}

#note-title {
    padding-left: 5%;
}

.notes-side-panel-container {
    padding: 0;
    margin: 0;
    padding-left: 17vw;
    width: 21vw;
    max-width: 30vw;
    /* margin-left: 28.5vh; */
    border-right: 2px solid #9CC5A1;
    background: linear-gradient(#216869, black);
}

.notes-side-panel-container h1 {
    padding-left: 15px;
    margin: 0
}

.note-side-panel-card-container {
    height: 90vh;
    overflow-y: scroll;
    /* scrollbar-color: #999 #eee */
}

.note-side-panel-card-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgb(73, 73, 73);
  }

  /* Track */
  .note-side-panel-card-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  .note-side-panel-card-container::-webkit-scrollbar-thumb {
    background: linear-gradient(#216869, #9CC5A1);
    border-radius: 10px;
  }

  /* Handle on hover */
  .note-side-panel-card-container::-webkit-scrollbar-thumb:hover {
    transition: 1s;
    background: gray;
  }
.side-panel-one-note {
    /* border: 2px solid gray; */
    width: 100%;
    height: 100px;
    /* padding: 15px; */
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    gap: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    /* border-radius: 15px; */
    /* background-color: black; */
    border-bottom: 2px solid gray;
    color: white;
    background-color: transparent;
    font-family: 'Dancing Script', cursive;
    font-family: 'Raleway', sans-serif;
}

.side-panel-one-note:hover {
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.566)
}

#side-panel-notes-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding-left: 15px; */
    /* padding-top: 10px; */
    color: white;
    padding-top: 10px;
    width: 100%;
    height: 81%;
    grid-gap: 15px;
    gap: 15px;
    padding: 10px;
}

#side-panel-break-line {
    border-bottom: 2px solid #9CC5A1;
    padding-top: 30px;
    width: 100%
}

.total-notes {
    padding-left: 15px
}

body {
    margin: 0
}

.whole-notes-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#Note-Component {
    width: 51vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#note-design-container {
    width: 46vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
